# Snowflake credentials (dev = externalbrowser SSO, prod = key-pair via Secrets Manager)
SNOWFLAKE_ACCOUNT=SGWXVBR-HNA51236
SNOWFLAKE_USER=RAVEESH.R@DATAZYMES.COM
SNOWFLAKE_AUTHENTICATOR=externalbrowser
SNOWFLAKE_ROLE=DZ_DEVELOPERS
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=SNDBX_DB
SNOWFLAKE_SCHEMA=ADHOC
